<div class="main">
  <header class="header">
    <ul class="menu" #menu>
     <li class="menu__item">
        <a href="http://www.concree.org/" target="_blank">Acceuil</a>
      </li>
      <li class="menu__item">
        <a href="http://www.concree.org/blog" target="_blank">Blog</a>
      </li>
      <li class="menu__item">
        <a href="http://www.concree.org/entreprise" target="_blank">Entreprise</a>
      </li>
      <li class="menu__item">
        <a href="http://www.concree.org/lezgo" target="_blank">Incubation</a>
      </li>
      <li class="menu__item">
        <a href="http://www.concree.org/entrepreneur" target="_blank">Entrepreneur</a>
      </li>
    </ul>
    <ul class="menu menu-right" #menuSecond>
      <li class="menu__item">
        <a href="http://www.concree.org/organisation_publique" target="_blank" >Organisation publique</a>
      </li>
     
    </ul>
  </header>
  <section class="first-section">
    <div class="info">
      <h1 class="heading-1">
Concree Sénégal      </h1>
      <p class="paragraph">
        organisation sénégalo-américaine spécialisée dans la conception et la gestion de programmes et de technologies destinés à faire progresser les startups de la phase idée à la phase de croissance.
      </p>
      <a class="btn btn--start">En savoir plus</a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img
          #imageFirst
          src="../assets/concree.jpeg"
          alt=""
        />
      </div>
      <div class="image-container">
        <img
          #imageSecond
          src="../assets/entrepreneur.jpeg"
          alt=""
        />
      </div>
    </div>
  </section>
  <section class="second-section" #secondSection>
    <div class="box"></div>
    <h4 class="heading-4" id="about">A propos de nous</h4>
    <h1 class="heading-1" id="buy">Travaillons ensemble.</h1>
    <div class="info-1">
      <div class="info-1__text">
        <span class="quote">
          "
        </span>
        <h2 class="heading-3">
          CONCREE s’appuie sur son expertise en termes d’engineering de l’accompagnement des entrepreneurs pour vous apporter une proposition de valeur capable de vous faire progresser        </h2>
        <p class="paragraph">
          Nous développons nos propres programmes d’incubation et d’accélération (virtuels et en présentiel) et collaborons avec des organisations publiques et privées dans la mise en place et le management de leurs programmes d’entrepreneuriat et d’intrapreneuriat.
        </p>
        <a class="btn--learn">En savoir plus</a>
      </div>
      <div class="info-1__visual">
        <img src="../assets/pme.jpg" alt="">
      </div>
    </div>

  </section>
</div>
